body {
    font-family: Arial, sans-serif;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow-y: auto;
    scroll-behavior: smooth;
    color: #fff;
}

.container {
    background-color: #110415;
    padding: 20px;
    border-radius: 8px;
    width: 800px;
    text-align: center;
    word-wrap: break-word;
    box-sizing: border-box;
    position: relative;
}

label {
    text-align: justify;
    padding-left: 8px;
    color: #3ffd53;
    display: block;
    margin: 10px 0 5px;
    line-height: 1.8;
    font-weight: bold;
}

pre {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    float: left;
    /*  word-wrap: break-word; /* Allows breaking long words */
    /*  overflow-wrap: break-word; /* Same as word-wrap, more modern */
    /*  white-space: normal; /* Ensures text wraps normally */
    /* word-break: break-word; /* For breaking long words */
}

.recipe-container {
    display: flex;
    /*    flex-direction: row;*/
    align-items: flex-start;
    gap: 20px;
    margin-top: 15px;
    overflow: hidden;
    clear: both;
    /*  word-wrap: break-word;    */
    /*  overflow-wrap: break-word;  */
    /*  white-space: normal;    */
    /*  word-break: break-word; */
}

#cocktailRecipe {
    flex: 1;
    float: left;
    white-space: no wrap;
    overflow: hidden;
    /*  white-space: pre-wrap;
      word-wrap: break-word;
      overflow-wrap: break-word;
      word-break: break-word;*/
}

#cocktailImage {
    max-width: 45%;
    height: auto;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); */
    white-space: pre-wrap;
    border-radius: 5px;
    float: right;
}

.recipe-container.image-visible #cocktailRecipe {
    white-space: pre-wrap; /* Wrap text only when image is present */
}

h1 {
    margin-bottom: 20px;
    color: #e20e97;
}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px;
    border-color: rgb(237, 235, 243);
    background-color: rgb(237, 235, 243);
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 14px;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}
